name: Automatic build
on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'
  release:
    types: [ created ]
env:
  BUILD_TYPE: Release

jobs:
  Linux_Qt5:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Install base dependencies
      run: |
        sudo apt update
        sudo apt install cmake make pkg-config libx11-dev xcb libx11-xcb-dev libxkbcommon-dev libgtk-3-dev sassc

    - name: Install Qt
      uses: jurplel/install-qt-action@v2
      with:
        version: 5.15.2
      
    - name: Install Adwaita-qt
      run: |
        git clone https://github.com/FedoraQt/adwaita-qt.git adwaita-qt
        cd adwaita-qt
        mkdir build
        cd build
        cmake .. -DCMAKE_INSTALL_PREFIX=/usr -DUSE_QT6=OFF
        make -j2
        sudo make install
        
    - name: Build
      run: |
        mkdir build
        cd build
        cmake .. -DCMAKE_INSTALL_PREFIX=/usr -DUSE_QT6=OFF
        make -j2

  Linux_Qt6:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Install base dependencies
      run: |
        sudo apt update
        sudo apt install cmake make pkg-config libx11-dev xcb libx11-xcb-dev libxkbcommon-dev libgtk-3-dev sassc

    - name: Install Qt
      uses: jurplel/install-qt-action@v2
      with:
        version: 6.3.1

    - name: Install Adwaita-qt
      run: |
        git clone https://github.com/FedoraQt/adwaita-qt.git adwaita-qt
        cd adwaita-qt
        mkdir build
        cd build
        cmake .. -DCMAKE_INSTALL_PREFIX=/usr -DUSE_QT6=ON
        make -j2
        sudo make install

    - name: Build
      run: |
        mkdir build
        cd build
        cmake .. -DCMAKE_INSTALL_PREFIX=/usr -DUSE_QT6=ON
        make -j2
